Repository thoroc/react-tutorial-ts-mui, changes with the labels that .github/labeler.yml gives for each.
All labels: test, source, dependencies

.github/labeler.yml:

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- src/**/*.spec.tsx

# Add 'source' label to any change to src files within the source dir
source:
- any: ['src/**/*.tsx']

# Add 'dependencies' label to any changes to the 'package.json' file
dependencies:
- package.json

removing npm label from dependabot
  .github/dependabot.yml
Labels: none

changes in main/master branch name for action
  .github/workflows/automerge.yml
Labels: none

master branch is main
  .github/workflows/codeql.yml
Labels: none

changed branch name master -> main
  .github/workflows/gh-pages.yml
Labels: none

fixing existing tests and testing GenericTemplate
  src/App.test.tsx
  src/components/pages/Page.spec.tsx
  src/components/pages/Page.tsx
  src/components/templates/GenericTemplate.spec.tsx
Labels: test, source

using screen in our test of GenericTemplate
  src/components/templates/GenericTemplate.spec.tsx
Labels: test, source

getting heading by role in GenericTemplate test
  src/components/templates/GenericTemplate.spec.tsx
Labels: test, source

using screen in App tests
  src/App.test.tsx
Labels: source

using screen in Page tests
  src/components/pages/Page.spec.tsx
Labels: test, source

ignoring patch upgrade
  .github/dependabot.yml
Labels: none

build: update Browserslist db
  package.json
  yarn.lock
Labels: dependencies
